<br>
<br>
<br>
<div class="container">
    <div class="row" >
        <nav>
            <div class="nav-wrapper">
                <div class="col s12 red lighten-2">
                    <a routerLink="../../lugares" class="breadcrumb white-text ">Lugares </a>
                    <a  class="breadcrumb white-text"> {{lugar.nombre}} </a>
                 </div>
            </div>
        </nav>
   
        <div class="col s12">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="../../assets/contacto.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">
                        {{lugar.nombre}}  <i class="material-icons right">more_vert</i>
                    </span>

                    <small> {{lugar.distancia}}km </small>
                  
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">
                        {{lugar.nombre}} <i class="material-icons right">close</i>
                    </span>
                    <p>
                        Tipo de Plan: {{lugar.plan}}
                    </p>
                    <p>
                        {{lugar.descripcion}}
                    </p>
                </div>
            </div>
                              
        </div>


     </div>
</div>


