agm-map {
  height: 300px;
}

.color-rojo {

	color: red;
}

.color-verde {

	color: green;
}

.color-negro {

	color: black;
}

.login{

	background: url('../assets/contacto.jpg') center no-repeat; 
	background-attachment: fixed;
	background-size: 100%;
	width: 100%;
	height: 100em;
	
}

